[submodule "third_party/guandan-windows"]
	path = third_party/guandan-windows
	url = https://github.com/dengweiqh/guandan-windows.git
[submodule "third_party/OpenGuanDan"]
	path = third_party/OpenGuanDan
	url = https://github.com/GameAI-NJUPT/OpenGuanDan.git
